<div style="text-align: center; background-image: -moz-linear-gradient(); ">
    <h1>Email ID : mypastries@gmail.com</h1>
    <h2>Mobile No: 9876543210</h2>
    <h3>
        <Address>
            My Pastries,
            2/899 , Cakies Road ,
            Bakery Town , Near Live up towers, 
            Pune , Mumbai.
            <br>
            Pincode : 678990
            <br>
            Trivandrum , Banglore , Chennai , Delhi
        </Address>
    </h3>
    <h2><b>Instagram</b> : .My_Pastries._ </h2>
    <h2><b>Facebook</b> : _._PastryWorld_._</h2>
    </div>