<h1 style="text-align: center;">Cakes & Chocolate</h1>
<br>
<div style="align-items: end;">
    <h2>CAKES</h2>
    <ul>
        <li>Yellow Cake</li>
        <li>White Cake</li>
        <li>Pound Cake</li>
        <li>Sponge Cake</li>
        <li>Chiffon Cake</li>
        <li>AngelFood Cake Cake</li>
        <li>Redvelvet Cake</li>
        <li>Butterscotch Cake</li>
        <li>White forest Cake</li>
        <li>black Current Cake</li>
        <li>Olive Cake</li>
        <li>Flourless Cake</li>
        <li>Fruit Cake</li>
        <li>Carrot Cake</li>
        <li>IceBox Cake</li>
    </ul>
</div>
<div style="position: absolute;top: 280px;right: 16px;">
    <img src="https://img.taste.com.au/qHHgZYey/taste/2022/03/german-chocolate-cake-177122-1.jpg" width="600px" height="350">
</div>
<div>
    <h2>CHOCOLATES</h2>
    <ul>
        <li>Dark Chocolate</li>
        <li>White Chocolate</li>
        <li>Fruit and Nut Chocolate</li>
        <li>White Chocolate with nuts</li>
        <li>Dark Chocolate with nuts</li>
        <li>Diary Milk Chocolate</li>
        <li>Nestle Kitkat Chocolate</li>
        <li>Munch</li>
        <li>Perk</li>
        <li>Fuse</li>
        <li>Milky Bar</li>
        <li>Blackcurrent Chocolates</li>
    </ul>
</div>
