<h1 style="text-align: center;">Hey Guyssss...!!!</h1>
<h2 style="color: red; text-align: center;">Welcome to the world of Cakes & Chocolates</h2>
<div>
    <img src="https://www.cakezone.com/themes/organie1/img/general-img/offers/get120.webp" width="800px" height="400px">
</div>
<div style="position: absolute;top: 285px;right: 16px;">
    <img src="https://images.pexels.com/photos/1702373/pexels-photo-1702373.jpeg?cs=srgb&dl=pexels-brent-keane-1702373.jpg&fm=jpg" width="600px" height="400">
</div>